<table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody *ngFor="let student of students">
      <tr>
        <td> {{student.id}}</td>
        <td> {{student.name}}</td>
        <td style="width: 350px;"> {{student.address.dist}}, {{student.address.state}},  {{student.address.zip}}</td>
        <td ><button class="btn-info"(click)="viewDetail(student.id)">view</button> <button class="btn-secondary" style="margin-left: 15px;"(click)="editPage(student.id)">Edit</button></td>
      </tr>
    </tbody>
  </table>